 <!DOCTYPE html>
 <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Homeページ</title>
    </head>
    <body>
        <h1>メンテナンス中</h1>
        <p>
            しばらくお待ちください。
        </p>
    </body>
 </html>